@model project
<style>
    span {
        color: red;
    }
</style>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><span>Project Name: </span> @Model.Pname</h5>
        <h5 class="card-title"><span>project num: </span>@Model.Pnum</h5>
        <h5 class="card-title"><span>project location: </span>@Model.Plocation</h5>
        <h5 class="card-title"><span>D num </span>@Model.Dnum</h5>
    </div>
</div>